git+https://github.com/open-oceans/happywhale.git

ipython 
matplotlib
numpy 
pytest
pyyaml
scipy
six 

tensorflow
tensorflow_hub
tensorflow_text
tflite

librosa
soundfile

apache-beam>=2.59.0
apache-beam[gcp]